<div class="jumbotron">
  <h2>Add a word:</h2>

  <form class="" action="/word" method="post">
    <div class="form-group">
      <label for="word">Enter a word</label>
      <input class="form-control" type="text" name="word" placeholder="eg: delicious">
    </div>
    <div class="form-group">
      <label for="part_of_speech">What is the part of speech?</label>
      <input class="form-control" type="text" name="part_of_speech" placeholder="eg: adjective">
    </div>
    <div class="form-group">
      <label for="body">What does it mean?</label>
      <input class="form-control" type="text" name="body" placeholder="eg: great tasting">
    </div>
    <div class="form-group">
      <label for="in_a_sentence">What is a sentence with the word in it?</label>
      <input class="form-control" type="text" name="in_a_sentence" placeholder="eg: That wine was delicious!!">
    </div>
    <button class="btn btn-success" type="submit">Add the word!</button>
  </form>
</div>

<div class="jumbotron">
  <% if @words.length > 0 %>
    <h2>Your words:</h2>
    <ul>
      <% @words.each() do |word| %>
        <p>
          <li><a href="/word/<%= word.word() %> "><%= word.word() %></a></li>
        </p>
      <% end %>
    </ul>
  <% end %>
</div>
